	{% extends "base.html" %}

{% block title %}訂單資訊 | 吉祥玉品{% endblock %}

{% block body %}
<div class="row pad">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="bold">訂單 {{ order.reference }} 來自 {{ order.fullname }}</h3>
				<p>產品: {{order.quantity_total() }} (&dollar;{{ order.order_total() }})</p>
				<p>狀態: <span class="badge">待處理</span></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>已買商品</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>#</th><th>Name</th><th>Price</th><th>Units</th><th>Total</th>
						</tr>
					</thead>
					<tbody>
						{% for item in order.items %}
						<tr>
							<td>{{ item.product_id }}</td>
							<td>{{ item.product.name }}</td>
							<td>&dollar;{{ item.product.price }}</td>
							<td>{{ item.quantity }}</td>
							<th>&dollar;{{ item.product.price * item.quantity }}</th>
						</tr>
						{% endfor %}

					</tbody>
					<tfoot>
						<tr>
							<th colspan="4" class="text-right">Total</th>
							<th>{{ order.order_total() }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<h3 class="strong">買家資訊</h3>
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">購物資訊</a>
				</li>
				<li role="presentation">
					<a href="#details" aria-controls="details" role="tab" data-toggle="tab">個人資訊</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="shipping">
					<h4 class="bold">購物資訊</h4>
					<p><i class="glyphicon glyphicon-user"></i> 名字: <strong>{{ order.fullname }}</strong></p>
					<p><i class="glyphicon glyphicon-map-marker"></i> 地址:
						<strong>{{ order.address }}</strong>
					</p>
					<p><i class="glyphicon glyphicon-th"></i> 城市： <strong>{{ order.city }}</strong></p>
					<hr />
					<p>
						<i class="glyphicon glyphicon-gift"></i>
						配送: <strong> 二至三天到貨</strong>
					</p>
					<hr />
					<p>
						<i class="glyphicon glyphicon-piggy-bank"></i> 
						付款方式: <strong>{{order.payment_type}}</strong>
					</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="details">
					<h4 class="bold">個人資訊</h4>
					<p><i class="glyphicon glyphicon-user"></i> 名字: <strong>{{ order.fullname }}</strong></p>
					<p><i class="glyphicon glyphicon-phone-alt"></i> 電話: <strong>{{ order.phone_number }}</strong></p>
					<p>
						<i class="glyphicon glyphicon-envelope"></i> EMAIL: 
						<strong>{{ order.email }}</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}